@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 1rem;
}

h2 {
  padding: 2rem 0;
  margin: 0;
}

h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  position: relative;
}

.city {
  margin-right: -10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  text-align: center;
  gap: 1rem;
}
.city i {
  font-size: 1.2rem;
}

.explorer {
  text-align: center;
}
.explorer h2 {
  font-size: 1rem;
  padding: 0;
}
@media (min-width: 768px) {
  .explorer h2 {
    font-size: 2rem;
  }
}
.explorer p {
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .explorer p {
    font-size: 1rem;
  }
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 1px 5px 16px -5px #7e7e7e;
  background-image: linear-gradient(rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.pageloader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms 2s forwards;
  transform-origin: top;
}
.pageloader::before {
  content: "";
  position: relative;
  height: 100px;
  width: 100px;
  border-right: 5px solid transparent;
  border-top: 5px solid #99e2d0;
  border-radius: 50%;
  animation: spin 1s ease-in-out;
  animation-iteration-count: 2;
}
.pageloader::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-right: 5px solid transparent;
  border-top: 5px solid #9356dc;
  border-radius: 50%;
  animation: spin 1s;
  animation-iteration-count: 2;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.fonctionnement {
  counter-reset: steps;
  margin-bottom: 2rem;
}
.fonctionnement ol {
  padding-left: 0;
}
@media (min-width: 768px) {
  .fonctionnement ol {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1000px) {
  .fonctionnement ol {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
  }
}
.fonctionnement li {
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 1px 5px 16px -5px #7e7e7e;
}
@media (min-width: 768px) {
  .fonctionnement li {
    margin-left: 1rem;
  }
}
.fonctionnement li:nth-child(3) {
  background-color: #f2eafb;
}
.fonctionnement li:nth-child(3) i {
  color: #9356dc;
}
.fonctionnement li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 1.6rem;
  height: 1.6rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -0.8rem;
  transform: translateY(-50%);
}
.fonctionnement i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}

#homepage .menus {
  background-color: #f6f6f6;
  margin-bottom: 2rem;
}
#homepage .menus .menus__cards {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 1000px) {
  #homepage .menus .menus__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
#homepage .menus .menus__cards .new {
  position: relative;
}
#homepage .menus .menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
#homepage .menus .card {
  margin-top: 1rem;
}
@media (min-width: 1000px) {
  #homepage .menus .card {
    margin-left: 1rem;
  }
}
#homepage .menus .card__image {
  height: 10rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
@media (min-width: 768px) {
  #homepage .menus .card__image {
    height: 15rem;
  }
}
#homepage .menus .card__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}
#homepage .menus .card__description i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
#homepage .menus .card__description .fa-solid {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms;
  background-image: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
}
#homepage .menus .card__description .heart:hover .fa-solid {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
  cursor: pointer;
}
#homepage .menus .card__description h3,
#homepage .menus .card__description p {
  padding: 0.3rem;
}

footer {
  background-color: #353535;
  padding: 1rem 2rem;
  color: white;
}
footer h2 {
  font-family: "Shrikhand", "sans-serif";
  font-weight: 500;
  padding: 1rem 0;
}
footer p {
  padding: 0.2rem;
}

@keyframes appear {
  from {
    margin-top: 15%;
    opacity: 10%;
  }
  to {
    margin-top: 0;
    opacity: 100%;
  }
}
body {
  background: #f6f6f6;
}
body h1, body h2 {
  font-size: 1rem;
}
@media (min-width: 768px) {
  body h1, body h2 {
    font-size: 1.5rem;
  }
}

#page-restaurant header:hover::before {
  transform: translateY(-50%) scale(1.2);
}
#page-restaurant header::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f060";
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  transition: transform 200ms;
}
#page-restaurant .banner img {
  display: block;
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
@media (min-width: 768px) {
  #page-restaurant .banner img {
    height: 60vh;
  }
}
#page-restaurant .restaurant__titre {
  margin-top: -2rem;
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  padding: 0 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
}
#page-restaurant .restaurant__titre i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
#page-restaurant .restaurant__titre .fa-solid {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms;
  background-image: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
}
#page-restaurant .restaurant__titre .heart:hover .fa-solid {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
  cursor: pointer;
}
#page-restaurant .restaurant__titre h2 {
  padding: 2rem 1rem;
  font-family: "Shrikhand", "sans-serif";
}
#page-restaurant .restaurant-main {
  padding: 0;
  background-color: #f6f6f6;
}
@media (min-width: 768px) {
  #page-restaurant .restaurant-main {
    padding: 0.5rem;
  }
}
#page-restaurant .menus {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  #page-restaurant .menus {
    grid-template-columns: repeat(2, 2fr);
  }
}
@media (min-width: 1000px) {
  #page-restaurant .menus {
    grid-template-columns: repeat(3, 1fr);
  }
}
#page-restaurant .menus h3 {
  font-weight: 400;
  position: relative;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}
#page-restaurant .menus h3::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 0.25rem;
  width: 3rem;
  background-color: #99e2d0;
}
#page-restaurant .menus .menu__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#page-restaurant .menus .menus__category {
  overflow: hidden;
}
#page-restaurant .menus .menus__category .menu-item {
  display: flex;
  background-color: white;
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
  margin: 0.5rem;
  box-shadow: 1px 5px 16px -5px #7e7e7e;
  animation: appear 2s;
  animation-fill-mode: both;
}
#page-restaurant .menus .menus__category .menu-item:nth-child(1) {
  animation-delay: 100ms;
}
#page-restaurant .menus .menus__category .menu-item:nth-child(2) {
  animation-delay: 200ms;
}
#page-restaurant .menus .menus__category .menu-item:nth-child(3) {
  animation-delay: 300ms;
}
#page-restaurant .menus .menus__category .menu-item .menu-item__price {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-restaurant .menus .menus__category .menu-item .menu-item__description {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  overflow: hidden;
}
#page-restaurant .menus .menus__category .menu-item .menu-item__description h4,
#page-restaurant .menus .menus__category .menu-item .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-restaurant .menus .menus__category .menu-item .menu-item__description h4 {
  font-size: 0.8rem;
}
#page-restaurant .menus .menus__category .menu-item .menu-item__description p {
  font-size: 0.01px;
  font-weight: 300;
}
@media (min-width: 768px) {
  #page-restaurant .menus .menus__category .menu-item .menu-item__description p {
    font-size: 0.75rem;
  }
}
@media (min-width: 1000px) {
  #page-restaurant .menus .menus__category .menu-item .menu-item__description h4 {
    font-size: 0.6rem;
  }
  #page-restaurant .menus .menus__category .menu-item .menu-item__description p {
    font-size: 0.5rem;
  }
}
#page-restaurant .menus .menus__category .menu-item .menu-item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 1rem 1rem 0;
  background-color: #99e2d0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
#page-restaurant .menus .menus__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  color: #99e2d0;
}
#page-restaurant .menus .menus__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page-restaurant .menus .menus__category .menu-item:hover i {
  animation: quarterspin 0.5s ease-in-out;
}
@keyframes quarterspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
#page-restaurant section.order {
  height: 30vh;
  display: grid;
  place-items: center;
}
#page-restaurant section.order button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 1px 5px 16px -5px #7e7e7e;
  background-image: linear-gradient(rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
}
#page-restaurant section.order button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
